.auth-container {
  width: 350px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff8f0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 100px;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #ffa400; 
}

.auth-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #ffa400;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.auth-container button:hover {
  background-color: #ffa400;
}

.message {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}
