.menu {
  padding: 100px 10%;
  background: #fafafa;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


.add-item-btn {
  padding: 8px 18px;
  background: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.add-item-btn:hover {
  background: var(--main-color);
  color: #ffa400;
}


.menu .heading span {
  color: var(--main-color);
  font-weight: 600;
}

.menu .heading h2 {
  font-size: 2.3rem;
  margin-bottom: 30px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  gap: 2rem;
}

.box {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

.box-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.box h2 {
  margin-top: 15px;
  font-size: 1.3rem;
  color: #333;
}

.box h3 {
  color: #777;
  font-size: 1rem;
}

.box span {
  display: block;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--main-color);
}

.box .btn {
  padding: 10px 20px;
  background: var(--main-color);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.box .btn:hover {
  background: #ffa400;
  color: white;
}

.added-msg {
  display: block;
  color: var(--main-color);
  font-weight: bold;
  margin-top: 5px;
  font-size: 0.9rem;
  animation: fade 1s ease forwards;
}

@keyframes fade {
  0% { opacity: 0; transform: translateY(-5px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-5px); }
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}
